<!------ Include the above in your HEAD tag ---------->

<!---*************welcome this is my simple empty strap by John Niro Yumang ******************* -->


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<title>Administre seu mercado</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<head>
  <script src="jquery/jquery.min.js"></script>
  <!---- jquery link local dont forget to place this in first than other script or link or may not work ---->

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!---- boostrap.min link local ----->

  <link rel="stylesheet" href="css/style.css">
  <!---- boostrap.min link local ----->

  <script src="js/bootstrap.min.js"></script>
  <!---- Boostrap js link local ----->

  <link rel="icon" href="images/icon.png" type="image/x-icon" />
  <!---- Icon link local ----->

  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <!---- Font awesom link local ----->
</head>
<body>
<div class="container-fluid">
  <div class="container">
    <h2 class="text-center" id="title">Venda e Administre sem misterio</h2>
    <hr>
    <div class="row">
      <div class="col-md-5">
        <form role="form" th:object="${usuario}" th:action="@{/usersave}" method="POST">
          <fieldset>
            <p class="text-uppercase pull-center"> SIGN UP.</p>
            <div class="form-group">
              <input type="text" name="username" id="username" class="form-control input-lg"  placeholder="username">
            </div>

            <div class="form-group">
              <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address">
            </div>
            <div class="form-group">
              <input type="password" name="password" id="password" class="form-control input-lg"  placeholder="Password">
            </div>
            <div class="form-group">
              <input type="password" name="password2" id="password2" class="form-control input-lg" placeholder="Confirmacao de Senha">
            </div>
            <select class="form-control" >
              <option>Admin</option>
              <option>User</option>
            </select>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input">
                By Clicking register you're agree to our policy & terms
              </label>
            </div>
            <div>
             <!-- <input type="" class="btn btn-lg btn-primary   value="Register"> -->
              <input type="submit" class="btn btn-md" value="Registre-se">
            </div>
          </fieldset>
        </form>
      </div>

      <div class="col-md-2">
        <!-------null------>
      </div>

      <div class="col-md-5">
        <form role="form" th:action="@{/login}" method="post">
          <fieldset>
            <p class="text-uppercase"> Login using your account: </p>
              <div class="form-group">
                <input type="text" name="username" id="username" class="form-control input-lg" placeholder="username">
              </div>
              <div class="form-group">
                <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password">
              </div>
              <div>
                <input type="submit" class="btn btn-md" value="Sign In">
              </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
</body>


</html>